@charset "utf-8";
/* CSS Document */
body
{
	margin:0px;
	padding:0px;
	background-color:#D8F9FE;
}
/*导航栏相关设置*/
#global_header{
	background:url(../images/global_nav_bg.png) top left repeat-x;
	position:fixed;
	width:100%;
	height:35px;
	margin:0px;
	padding:0px; 
}
.header{
	width:950px;
	height:34px;
	margin:0px auto;
	padding:0px;
	display:block;
}
.header_logo{
	width:190px;
	height:34px;
	margin-left:20px;
	padding:0px;
	float:left;
}
.header_Llist{
	display:block;
	float:left;
	width:230px;
	height:34px;

}
.header_Llist ul{
	margin:0px;
	padding:0px;
}
.header_Llist ul li {
	list-style:none;
	display:block;
	float:left;
	margin:9px 8px 0px 3px;
	
}
.header_Llist ul li a{
	  text-decoration:none;
	  color:#fff;
}
.header_M{
	width:212px;
	height:34px;
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px;
	display:block;
}
.header_Mi{
	background: url(../images/sprite_bg_02.gif) center left no-repeat;
	background-color:#CCC;
	width:171px;
	height:16px;
	margin:5px 0px 0px 4px;
	padding:0px 0px 0px 1px;
	float:left;
}
.header_Mi .bb{
	width:171px;
	height:16px;
	margin:0px;
	padding:0px;
	
}
.header_Ms{
	border:0px;
	margin:0px 6px 0px 0px;
	padding:0px;
	float:right;
}
.header_M img{
	border:0px;
	text-decoration:none;
	margin-top:4px;
	padding:0px
}
.header_Rlist{
	display:block;
	float:right;
	margin:0px 25px 0px 0px;
	padding:0px;
	width:220px;/*导航栏相关设置*/
	height:34px;
}
.header_Rlist ul{
	margin:0px 0px 0px 0px;
	padding:0px;
}
.header_Rlist ul li{
	list-style:none;
	display:block;
	float:left;
	margin:9px 0px 0px 8px;
	padding:0px 0px 0px 0px;
}
.header_Rlist ul li a{
	  text-decoration:none;
	  color:#fff;
}
#main/*注册页面主体*/
{
	margin:0px auto 0px auto;
	padding:0px 0px 0px 0px;
	width:800px;
	height:736px;
}
#logo/*注册页面主体顶端logo*/
{
	margin:0px 0px 0px 0px;
	padding:35px 0px 0px 0px;
	width:940px;
	height:115px;
}
#information/*注册页面注册信息*/
{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-color:white;
	width:610px;
	height:620px;
	float:left;
}
#other/*注册页面其他信息*/
{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-color:white;
	width:188px;
	height:620px;
	float:left;
}
#bottom/*注册页面底部信息栏*/
{
	margin:0px 0px 0px 20px;
	padding:0px 0px 0px 0px;
	background-color:#9FF;
	width:100%;
	height:50px;
}
.i/*注册信息条目*/
{
	width:250px;
    float:left;
	margin:0px 10px 20px 0px;
    text-align:right;
	font-size:16px;
	color:#666666;
}
.t/*注册信息文本框所在部分*/
{
    width:340px;
	float:left;
	margin:0px 0px 20px 0px;
    height:20px;
}
#submit
{
	margin:0px 0px 0px 260px;
}
#i0/*"找回密码标题字体设置"*/
{
	margin:10px 0px 10px 0px;
	text-align:"center";
	font-weight:600;
	font-size:30px;
	font-family:华文彩云;
}
#yanzheng/*验证图片相关设置*/
{
	margin:0px 0px 20px 60px;
	padding:0px 500px 0px 200px;
}
#button/*普通按钮相关设置*/
{
	margin:0px 0px 0px 20px;
}
#other2/*“想要注册账号”相关设置*/
{
	margin:0px 0px 0px 20px;
}
.a/*页面超链接相关设置*/
{
	text-decoration:none;
}
#line1/*标题下分割线*/
{
	margin:20px 20px 20px 20px;
	background:url(../images/line1.gif) repeat-x;
    width:570px;
	height:4px;
}
#line3/*其他信息栏内分割线*/
{
    margin:0px 0px 0px 0px;
	width:2px;
	height:600px;
	background-color:#ECECEC;
    float:left;
}
#other3/*其他信息栏信息相关*/
{
	margin:30px 0px 0px 20px;
	font-size:14px;
	color:#666;
}
#otherthing/*其他信息区域字体设置*/
{
	margin:0px 0px 0px 0px;
	font-family:华文新魏;
    font-size:18px;
}
#footer{
	float:left;
	margin:0px;
	padding:0px 0px 0px 140px;
	width:960px;
	height:60px;
	text-align:center;
	font-size:14px;
	color:#999;
}
#footer a
{
	text-decoration:none;
	color:#999;
}
#footer a:hover
{
	color:red;
}
#footer ul
{
	margin-left:245px;
}
#footer li
{
	padding-right:10px;
	float:left;
	list-style-type:none;
}